{% assign desktop_image = bp_background_image | img_url: '1440x' %}
{% assign mobile_image = bp_background_image_mobile | img_url: '992x' %}

{% if bp_title and bp_background_image %}
  <div id="banner__panel-{{ bp_id }}" class="banner__panel" >

    <style type="text/css">
      #banner__panel-{{ bp_id }} .banner__bg-image {
        background-image: url({{ desktop_image  }});
        background-position: center {{ bp_background_image_vertical_alignment }};
      }

      @media (max-width: 991px) {
        #banner__panel-{{ bp_id }} .banner__bg-image {
          {% if bp_background_image_mobile!= blank %}
            background-image: url({{ mobile_image }});
          {% else %}
            background-image: url({{ desktop_image }});
          {% endif %}
          background-position: center {{ bp_background_image_mobile_vertical_alignment }};
        }
      }
    </style>

    <div class="container">
      <div class="row">
        <div class="banner__bg-container">
          <div class="banner__bg-image" role="img" aria-label="{{ bp_background_image.alt }}"></div>
        </div>

        <div class="col-lg-7">
          <div class="banner-content banner-content--{{ bp_text_color }}">

            {% if bp_eyebrow %}
              <p class="banner-content__eyebrow">{{ bp_eyebrow }}</p>
            {% endif %}
            
            <h1 class="banner-content__title">{{ bp_title }}</h1>

            {% if bp_text %}
              <div class="banner-content__text">{{ bp_text }}</div>
            {% endif %}

            {% if section.blocks.size  %}
              <div class="banner-ctas-container">
                {% for block in section.blocks %}
                  <a class="btn btn-primary" href="{{ block.settings.cta_url }}">{{ block.settings.cta_text }}</a>
                {% endfor %}
              </div>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
{% endif %}